
#Title {
    font-size: 30px;
    background-color: coral;
    width: 100%;
    white-space: nowrap;
    color: #162433;
}

#main {
    max-width: 960px;
    height: 100%;
    background-color: #f3fffd;
    margin-left: 240px;
    background-clip: content-box;
    position: relative;
}

/*#menu {*/
/*    width: 220px;*/
/*    height: 100%;*/
/*    float: left;*/
/*    text-align: center;*/
/*    background-color: coral;*/
/*    margin-right: 2%;*/
/*    position: fixed;*/
/*    display: none;*/
/*}*/

/*#menu ul li {*/
/*    background-color: #f3fffd;*/
/*    border-color: darkslategray;*/
/*    border-collapse: separate;*/
/*    border-style: solid;*/
/*    text-align: center;*/
/*    alignment: left;*/
/*    color: #fef6ff;*/

/*}*/


a:hover {
    cursor: default;
    color: #ff8400;
}

#picture {
    float: left;
}

#picture2 {
    float: right;
}

body {
    background-color: #293339;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #2f313f;
    letter-spacing: 1px;
}


h2 {
    color: lightcoral;
}


h3 {
}


p {
    text-indent: 20px;
}

p:first-letter {
    color: coral;
    font-size: large;
}

table {
    color: #ffe8b9;
    background-color: #29332e;
    border: 3px solid #b93247;
}

.kolumna1 {
    background-color: #005f5f;
}

.kolumna2 {
    background-color: #5e1e1f;
}

thead {
    background-color: coral;
    text-transform: uppercase;
}

tbody {
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
}

ol ol {
    list-style-type: lower-roman;
}

ol ol ol {
    list-style-type: lower-greek;
}

ul {
    list-style: none;

}

ul > li {
    margin: 0;
    padding: 0;
    position: relative;
    height: 30px;
}

ul > li > a {
    padding: 10px;
    color: #444;
    text-decoration: none;
}

ul > li > a:hover,
ul > li:hover > a {
    color: #de5f44;
    text-decoration: underline;
}

ul > li ul {
    padding: 0;
    position: absolute;
    display: none;
    left: 0px;
    top: 30px;
    width: 200px;
    text-align: left;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
}

ul li:hover > ul {
    display: block;
}

ul > li ul ul {
    left: 200px;
    top: -1px;
}

ul > li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    height: auto;
}

ul > li ul li a {
    padding: 10px 20px;
    color: #505050;
    text-decoration: none;
    display: block;
}

ul > li ul li a:hover,
ul > li ul li:hover > a {
    text-decoration: none;
    color: #fff;
    background-color: #f26c4f;
}

